<ul nz-menu [nzMode]="'inline'">
  <ng-container *ngFor="let menuLink of menuLinks; index as i;">
    <li nz-submenu [(nzOpen)]="menuLink.isOpen" routerLinkActive="ant-menu-submenu-open">
      <span title><i class="anticon anticon-user"></i>{{menuLink.name}}</span>
      <ul class="left-menu">
        <ng-container *ngFor="let link of menuLink.links; index as j;">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected">
            <a [routerLink]="link.url">{{link.name}}</a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>

